.cart-view {
  display: flex;
  margin:100px;
  color: white;
}

.cart-pruduct{
  margin: 10%;
  width: 400px;
  background-color: gray;
}

.cart-checkout{
  width: 400px;
  background-color: gray;
  
}

