.categories-header{
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.categories-container{
  display: flex;
  flex-flow: row wrap;
  max-width: 750px;
  justify-content: space-around;
  margin: auto;
  a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f6f6f6;
    width: 240px;
    margin: 2px;
    cursor: pointer;
  }
  
  .pop{
    background-color: #D25E48;
  }
  .rock{
    background-color: #AFB48A;
  }
  .hiphop{
    background-color: #7E1418;
  }
  .raggae{
    background-color: #BDA440;
  }
  .punk{
    background-color: #09252D;
  }
  .blues{
    background-color: #322543;
  }

}

.changeCategories{
  width: 120px;
  height: 40px;
  background-color: #4773CA;
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h3{
    color: #f6f6f6;
    text-transform: uppercase;
    font-size: 1.3em;
  }
}