.product-area {
  background-color: #1d1d1d;

  text-decoration: none;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
  }

  h3,
  h4 {
    text-align: center;
    margin: 0;
    text-transform: capitalize;
    color: #f6f6f6;
  }
}
