.Product {
  display: grid;
  // grid-template-rows: 40px auto 40px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "i i i i i i i i i i i i"
    ". . d d d d d d d d . ."
    ". . b b b b b b b b . ."
    ". . p p p p p p p p . ."
    ". . s s s s s s s s . .";

    //Grid för dator
  @media (min-width: 900px) {
    
    grid-template-areas:
    ". . . . d d d d . . . ."
    ". . i i i i b b b b . ."
    ". . i i i i p p p p . ."
    ". . s s s s s s s s . .";
  }
  
  margin-top: 10vh;
    
}
.describing-header {
  color: var(--text-color);
  text-align: center;
  margin: .5em;
}



.Product-image {
  grid-area: i;
  width: 100%;
  margin: 7vh 0 0 0;
}

.Headers {
  grid-area: d;
  color: var(--text-color);
  // width: 80%;
  max-width: 700px;
  margin: 1em;
}

.pay {
  grid-area: b;
  .addToCart {
    background-color: #3e589d;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;

    margin: auto;
    // width: 35%;
    height: 40px;
    max-width: 300px;
  }

  .sale{
    color: red;
  }
}
.info-container{
  grid-area: p;

  color: var(--text-color);

}

.song-list-container{
  grid-area: s;

  color: var(--text-color);
  list-style-type: decimal;
}
